body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logout img {
    height: auto;
    width: 3rem;
    border-radius: 50%;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
}

button#logout {
    background: none;
    border: none;
    border-radius: 100%;
}

button:hover {
    cursor: pointer;
}

nav {
    align-self: flex-end;
    padding: 1rem 0;
}

